body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 0px;
}

#wrapper {
    margin: 0 0;
    width: 480px;
}

#header {
    text-align: left;
    height: 25px;
    width: 480px;
    margin: 5px;
    background: #FF6633;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 480px;
    height: 775px;
    align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buffer {
    margin-top: 25px;
}

p.normal {
  line-height: 1.0;
}