    <!--  <head>-->
    <!--    <title>Flask app</title>-->
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
    <!--  </head>-->
    <!--<body style="width: 480px; height: 800px; text-align: center;  background-repeat: no-repeat;   background-size: 480px 480px;">-->
    <!--      <div class="grid-container">-->
    <!--      <div class="main">-->
    <!--           <img src="{{ info.art }}" style="width:480px;height:480px;">-->
    <!--          <p>{{ info.title }}</p>-->
    <!--          <p>{{ info.album }} - {{ info.artist }}</p>-->
    <!--      </div>-->
    <!--      <div class="footer"></div>-->
    <!--      <div class="group">-->
    <!--          <p>{{ player }}</p>   -->
    <!--      </div>-->
    <!--      <div class="timedate">-->
    <!--          <p>13:45</p>-->
    <!--          </div>-->
    <!--      <div class="menu"></div>-->
    <!--    </div>-->
    <!--</body>-->
    <!--  -->
    <!--  -->
<!DOCTYPE html>
<html>
<head>
<title>CSS Portal - Layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <p>{{ player }}</p>
        </div>
        <div id="content">
            <img src="{{ info.art }}" style="width:420px;height:420px;" class="center buffer">
            <p class="normal">{{ info.title }}</p>
            <p class="normal">{{ info.album }} - {{ info.artist }}</p>
       </div>
    </div>
</body>
</html>


